*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 70%;
    margin: 0 auto;
}

header{
    height: 80px;
    background-color: rgb(0, 140, 255);
    background-image: url('../img/pattern.png');
    background-size: 250px;
}

.logo-img{
    padding-top: 15px;
    padding-bottom: 15px;
    height: 80px;
}

main{
    margin-top: 20px;
    margin-bottom: 20px;
}

article{
    color: gray;
}

h1{
    font-size: 40px;
}

a{
    color: rgb(0, 162, 255);
    text-decoration: none;
}

img{
    height: 100%;
}

.tim-imgs{
    margin-top: 10px;
}

.desc-imgs{
    font-size: 13px;
}

.ul-lorem{
    margin-inline-start: 0;
    list-style-position: inside;
}

thead{
    color: white;
}

th{
    text-align: left;
    background-color: rgb(0, 132, 255);
}

tr{
    background-color:  rgb(151, 239, 255);
}

th, td{
    min-width: 250px;
}

tr:nth-child(even){
    background-color: white;
}

h3{
    color: gray;
}

.footer-img1, .footer-img2{
    background-repeat: no-repeat;
    height: 210px;
}

.footer-img1{
    background-image: url(../img/monitor.jpg);
}
.footer-img2{
    background-image: url(../img/graph.jpg);
}

h4{
    font-size: 25px;
    color: white;
    padding-left: 15px;
    padding-top: 15px;
}
