*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: 0 auto;
}

header{
    height: 80px;
    background-color: rgb(0, 140, 255);
    background-image: url('../img/pattern.png');
    background-size: 250px;
}

.logo-img{
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100%;
    width: 30%;
    margin-left: 95px;
}

main{
    margin-top: 20px;
    margin-bottom: 20px;
}

article{
    color: gray;
}

img{
    height: 100%;
}

.tim-imgs{
    margin-top: 10px;
}

.desc-imgs{
    font-size: 13px;
}

.ul-lorem{
    margin-left: 18px;
}

thead{
    color: white;
    background-color: rgb(0, 195, 255);
}

th{
    text-align: left;
}

th, td{
    min-width: 250px;
}

.bg-azure{
    background-color: rgb(181, 226, 247);
}

h3{
    color: gray;
}

.footer-img1, .footer-img2{
    background-repeat: no-repeat;
    height: 210px;
}

.footer-img1{
    background-image: url(../img/monitor.jpg);
}
.footer-img2{
    background-image: url(../img/graph.jpg);
}

h4{
    font-size: 25px;
    color: white;
    padding-left: 15px;
    padding-top: 15px;
}
