*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    width: 70%;
    margin: 0 auto;
}

header{
    height: 80px;
    background-color: rgb(0, 140, 255);
    background-image: url('../img/pattern.png');
    background-size: 250px;
}

.logo-img{
    height: 100%;
    width: 30%;
}

main{
    margin-top: 20px;
    margin-bottom: 20px;
}

article{
    color: gray;
}

img{
    height: 100%;
}

.tim-imgs{
    margin-top: 10px;
    height: 240px;
}

.desc-imgs{
    font-size: 9px;
}

.ul-lorem{
    margin-left: 18px;
}

thead{
    color: white;
    background-color: rgb(0, 195, 255);
}

th{
    text-align: left;
}

th, td{
    min-width: 250px;
}

.bg-azure{
    background-color: rgb(181, 226, 247);
}
